@font-face{
    font-family: abster;
    src:url(../font/abster-webfont.woff) format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh; /* Keep the viewport height */
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/digitallab_re.jpeg);
    background-position: center center; /* Centers the background image */
    background-size: cover; /* Covers the entire container, may crop the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.main-container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*좌우로 나눠지도록 */
}

.main-container .title h1,p{
    text-decoration: none;
    color:white;
}

.navbar-container{
    width: 100%;
    height: 8vh;/*default:vh, %로 하면 안됨*/
    
}
.navbar-container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*좌우로 나눠지도록 */
    align-items: center;
}
.navbar-container .header .brand a{
    text-decoration: none;
    color:white;
    font-family:abster;
}

.navbar-container .header .nav ul li{
    display: inline-block; /*가로로 정렬*/
    margin:0 10px;
}
.navbar-container .header .nav ul li a{
    text-decoration: none;
    color:white;
}
.navbar-container .header .nav ul li a:hover{
    color:rgb(255, 194, 95);
}
.main-container .title{
    position: absolute;
    left:50%;
    top:45%;
    transform:translate(-50%, -50%);
    color:white;
    text-align: center ;
}

.main-container .title h1{
    font-size: 5vw;
    margin-bottom:20px;
}
.main-container .title p{
    font-size: 2.5vw;
}

/* 기본적으로 축약 텍스트를 숨깁니다 */
.short-text {
    display: none;
}

/* 화면 너비에 따라 달라지도록 */
@media (max-width: 600px) {
    .navbar-container .header .nav .full-text {
        display: none;
    }

    .navbar-container .header .nav .short-text {
        display: inline;
        font-size: 16px; /* 원하는 폰트 크기로 조절하세요 */
        visibility: visible;
    }
}


.content {
    position: absolute; /* Position .content absolutely */
    top: auto; /* Override any previously set top value */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    display: flex; /* Aligns children inline */
    justify-content: center; /* Centers the items horizontally */
    padding: 20px;
    gap: 20px; /* Space between the items */
    flex-wrap: wrap;
}

.content-list {
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    display: flex; /* Apply a flex context to the list */
    flex-wrap: wrap;
}

.content-item {
    background: white; /* Light grey background for the box */
    opacity: 80%;
    margin-left:10px;
    width: 8em;
    height: 200px;
    padding: 20px; /* Padding inside the box */
    border-radius: 5px; /* Rounded corners for the box */
    display: flex; /* Enables flex layout */
    flex-direction: column; /* Stacks flex items vertically */
    align-items: center; /* Centers flex items horizontally */
    text-align: center; /* Centers text */
    margin-bottom: 20px;
}

/* 모바일 화면 크기에서 적용할 스타일 */
@media (max-width: 600px) {
    .content-item {
        /* 모바일에서 보여질 아이템의 너비를 반으로 조정 */
        width: calc(50% - 20px); /* 아이템의 너비를 화면의 50%로 조정하고 좌우 간격을 고려 */
        height: auto; /* 높이를 내용에 맞게 자동으로 조정 */
    }
}
.content-link {
    font-size: 20px; /* Size of the link text */
    margin-bottom: 10px; /* Space between the link and the additional text */
    text-decoration: none; /* Removes underline from the link */
    color: #333; /* Color of the link text */
}

.content-description {
    font-size: 14px; /* Size of the additional text */
    color: #666; /* Color of the additional text */
}

.footer {
    background-color: #f8f9fa; /* Light background for the footer */
    padding: 20px 0; /* Top and bottom padding */
    text-align: center; /* Center align everything */
}

.footer .container {
    width: 80%; /* Adjust width as needed */
    margin: auto; /* Center the container */
}

.footer .copyright-info p {
    margin: 0; /* Remove default margin */
    color: #333; /* Dark color for text */
    font-size: 14px; /* Smaller font size */
}

.footer .social-links a {
    margin: 0 10px; /* Horizontal spacing */
    color: #da8b0d; /* Bootstrap primary color for links */
    text-decoration: none; /* No underline */
    font-size: 14px; /* Slightly larger font size */
}

.footer .social-links a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}



